<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Tennis Coach</title>
    <!-- Add any desired CSS styling here -->
    <style>
       /* Example Styling  Feel free to customize further*/
        nav {
            background-color: #f0f0f0; /* Light gray background */
            padding: 10px;
            text-align: left;
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #333; /* Dark gray text */
        }

        #logo {
          width: 80px; /* Example width, adjust as needed */
          height: auto; /* Maintain aspect ratio */
       }

    </style>


</head>
<body>
   <a href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
    <nav>
        <a href="https://list-coaching-sources-681370065371.europe-west1.run.app/">Coaching Sources</a>
        <!-- <a href="/get_coaching_sources">Coaching Sources (prettier)</a>
        <a href="/coaching_sources">Coaching sources (fetching function)</a> -->
        <a href="https://extract-top-tennis-principles-681370065371.europe-west1.run.app/">Top 5 Principles</a>
        <!-- <a href="/five_principles">Top 5 Principles (prettier)</a> -->
        <a href="/personal_analysis">Personal Analysis</a>
    </nav>
    <!-- other page content could go here  -->

</body>
</html>
